# Скомпилированный файл класса
*.class

# Файл журнала
*.log

# Файлы BlueJ
*.ctxt

# Мобильные инструменты для Java (J2ME)
.mtj.tmp/

# Файлы пакетов #
*.jar
*.война
*.nar
*.ухо
*.zip
*.tar.gz
*.rar

# журналы сбоев виртуальных машин, см. http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*